body {
    &#page_signup {
        .navbar {
            margin-bottom: 7px;
        }

        h1.page-header {
            font-size: 30px;
            line-height: 38px;

            small {
                font-size: 16px;
            }
        }

        .wizard {
            .steps-container {
                .steps {
                    .badge {

                    }
                }
            }
            .step-content {
                label {
                    font-size: 16px;
                    color: #43656b;
                }
            }

            .form-control:focus {
                box-shadow: 0 0 7px rgba(236, 105, 6, 0.6) !important;
                border: 1px solid #f6a062;
            }

            .form-horizontal .has-feedback .form-control-feedback {
                right: -20px;
            }

            .form-horizontal .form-control-help {
                color: #c1c0c0;
                line-height: 34px;
                position: absolute;
                z-index: 11;
                top: 0;
                right: -31px;
            }

            .has-success input {
                border: 1px solid #d2d2d2;
                box-shadow: none;
            }

            .has-error input {
                border: 1px solid #ea5b5b;
                box-shadow: none;
            }
        }

    }
}