<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Distributors view</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--<link rel="stylesheet" href="/admin/css/main.css">-->
    <link rel="stylesheet" href="/admin/css/all.css">
    <link href="/css/icomoon.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/lib/html5shiv.min.js"></script>
    <script src="/js/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="menu-sidebar">
            <nav class="navbar navbar-sidebar">
                <div class="nav-header">
                    <a class="nav-header-logo" href="/admin">
                        <img src="/admin/img/logo.png" />
                    </a>
                    <a class="nav-header-logo-mini" href="/admin">
                        <img src="/admin/img/logo_mini.png" />
                    </a>
                </div>
                <div class="container-fluid main-menu" id="main-menu">
                    <div class="row">
                        <div class="sidebar-btn text-center">
                            <a href="/admin/create-order.html" class="btn btn-info btn-block" style="color:#fff">
                                <span>Create an Order</span> <i class="glyphicon icon-order"></i>
                            </a>
                        </div>
                        <ul class="nav sidebar-menu">
                            <li><a href="/admin/"><i class="glyphicon icon-graph sidebar-menu-icons"></i> <span>Dashboard</span></a></li>
                            <li class="header text-uppercase">Orders management</li>
                            <li><a href="/admin/orders.html"><i class="glyphicon icon-orderslist sidebar-menu-icons"></i> <span>Orders</span> <span class="label label-info pull-right">4</span></a></li>
                            <li><a href="/admin/returns.html"><i class="glyphicon icon-return sidebar-menu-icons"></i> <span>Returns</span> </a></li>
                            <li><a href="/admin/invoices.html"><i class="glyphicon icon-lilist sidebar-menu-icons"></i> <span>Delivery Invoices</span></a></li>
                            <li class="header text-uppercase">Distributor management</li>
                            <li class="active"><a href="/admin/distributors.html"><i class="glyphicon icon-user sidebar-menu-icons"></i> <span>Distributors</span> <span class="label label-info pull-right">4</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main-right-col">

            <div class="main">

                <nav class="main-header navbar navbar-fixed-top top-menu" role="navigation">
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="">
                                <a href="#" class="sidebar-toggle" id="sidebar-toggle">
                                    <span class="glyphicon icon-list"></span>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="sidebar-main-site" role="button">
                                    <span class=""><i class="glyphicon icon-globe"></i>&nbsp;&nbsp;<span class="hidden-sm hidden-xs">promasidorstore.tradedepot.co</span></span>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon icon-bell"></i>
                                    <span class="label label-info">34</span>
                                </a>
                                <ul class="dropdown-menu menu-notifications">
                                    <li><a href="#"><span class="glyphicon icon-lilist"></span> Order status changed</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><span class="glyphicon icon-lilist text-danger"></span> ERD4 Order status changed to Balance Due</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><span class="glyphicon icon-lilist text-success"></span> Created new Order</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="#" class="btn btn-link text-uppercase" style="padding-top: 10px;padding-bottom: 15px;">More notifications</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" style="">
                                    <img class="img-circle" src="/img/test-client/avatar.jpg" alt=""><span class="hidden-sm hidden-xs">Mai Gulera</span>
                                    <span class="glyphicon icon-downarrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="glyphicon glyphicon-ruble"></span> Account balance</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                    <li role="separator" class="divider hidden-lg hidden-md hidden-sm"></li>
                                    <li class="hidden-lg hidden-md hidden-sm"><a href="#"><span class="glyphicon icon-logout"></span> Logout</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="hidden-sm hidden-xs" data-toggle="control-sidebar">
                                    <i class="glyphicon icon-logout"></i><span>Logout</span>
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right hidden-xs hidden-sm hidden-md" role="search">
                            <div class="form-group">
                                <div class="inner-addon right-addon">
                                        <span class="glyphicon icon-search" id="navbar-search-ico"></span>
                                        <input class="form-control" id="navbar-search-input" placeholder="Search" type="text">
                                </div>
                            </div>
                        </form>
                    </div>
                </nav>
                <div class="container-fluid">
                    <section class="row content-header">
                        <div class="container-fluid">
                            <div class="col-sm-6">
                                <h1 class="pull-left">
                                    Distributors
                                </h1>
                            </div>
                            <div class="col-sm-6 hidden-xs">
                                <ol class="breadcrumb">
                                    <li><a href="/admin/"><i class="glyphicon icon-user"></i>Home</a></li>
                                    <li><a href="/admin/orders.html">Distributors</a></li>
                                    <li class="active">Mai Gulera</li>
                                </ol>
                            </div>
                        </div>
                        <div class="sub-content-header">
                            <div class="container-fluid">
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default">Print <i class="glyphicon icon-print"></i></a>
                                        <a href="/admin/views/distributor_new.html" class="btn btn-info">Edit <i class="icon-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="col-sm-12">

                        <section class="content sub-content">

                            <div class="box box-lg panel panel-default">
                                <div class="panel-body">
                                    <div class="col-sm-1 pl0 ml0 hidden-md hidden-xs hidden-sm">
                                        <div class="avatar">
                                            <img src="/img/test-client/avatar.jpg" class="img-circle" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                                        <h2 class="name mt0 fs28">Mai Gulera<br/><small>Product manager</small></h2>
                                        <br/>
                                        <address>
                                            <span class="glyphicon icon-phone"></span> +999-555-777-33<br/>
                                            <span class="glyphicon icon-mail"></span> <a href="mailto:mail.gui87@example.com">mail.gui87@example.com</a>
                                        </address>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-lg-3 col-sm-6">
                                        <p class="lead text-uppercase mb7">RECENT ORDERS</p>
                                        <table class="table table-non-bordered table-td-padd-custom1 table-td-no-pl">
                                            <tr>
                                                <td class="bull-text"><span class="text-success">&bull;</span> ERD2</td>
                                                <td><span class="text-success"><small>Open</small></span></td>
                                            </tr>
                                            <tr>
                                                <td class="bull-text"><span class="text-approve">&bull;</span> ERD2</td>
                                                <td><span class="text-approve"><small>Approved</small></span></td>
                                            </tr>
                                            <tr>
                                                <td class="bull-text"><span class="text-info">&bull;</span> ERD2</td>
                                                <td><span class="text-info"><small>Closed</small></span></td>
                                            </tr>
                                            <tr>
                                                <td class="bull-text"><span class="text-warning">&bull;</span> ERD2</td>
                                                <td><span class="text-warning"><small>Pending</small></span></td>
                                            </tr>
                                            <tr>
                                                <td class="bull-text"><span class="text-danger">&bull;</span> ERD2</td>
                                                <td><span class="text-danger"><small>Returned</small></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-sm-12 col-md-5">
                                        <p class="pull-left lead text-uppercase">Orders</p>
                                        <div class="pull-right">
                                            <span class="h0 text-muted f_helvetcia_ul">340</span>
                                            <div class="text-muted">last month</div>
                                        </div>
                                        <div class="chart">
                                            <canvas id="hbChart" style="height: 90px;width:100%"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="module-block">
                                            <p class="lead text-uppercase">COMPANY</p>
                                            <div class="block-icon">
                                                <div class="block-icon-ico">
                                                    <span class="glyphicon icon-map"></span>
                                                </div>
                                                <address class="block-icon-content">
                                                    Apapa Depot<br>
                                                    12, Apapa Street<br>
                                                    Apapa, Lagos, Nigeria
                                                </address>
                                            </div>
                                            <div class="block-icon">
                                                <div class="block-icon-ico">
                                                    <span class="glyphicon icon-phone"></span>
                                                </div>
                                                <address class="block-icon-content">
                                                    +999-555-777-33
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="module-block">
                                            <p class="lead text-uppercase">SHIPPING</p>

                                            <small class="text-muted">Select shipping address by default</small>
                                            <br/>
                                            <br/>
                                            <select class="form-control" id="">
                                                <option>Distributors Depot, NY, Derrty St. 284</option>
                                                <option>Distributors Depot, NY, Derrty St. 284</option>
                                                <option>Distributors Depot, NY, Derrty St. 284</option>
                                            </select>

                                            <div class="block-icon">
                                                <div class="block-icon-ico">
                                                    <span class="glyphicon icon-map"></span>
                                                </div>
                                                <address class="block-icon-content">
                                                    Apapa Depot<br>
                                                    12, Apapa Street<br>
                                                    Apapa, Lagos, Nigeria
                                                </address>
                                            </div>
                                            <div class="block-icon">
                                                <div class="block-icon-ico">
                                                    <span class="glyphicon icon-phone"></span>
                                                </div>
                                                <address class="block-icon-content">
                                                    +999-555-777-33
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="module-block">
                                            <p class="lead text-uppercase">DELIVERY DEFAULTS</p>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                    I will pick it up
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                    Deliver to me
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="module-block">
                                    <p class="lead text-uppercase">ACCOUNT BALANCE</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">
                                            <div class="well">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <div class="chart-responsive">
                                                            <canvas id="depositsPie" style="height: 30px;width: 30px"></canvas>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mt0">DEPOSITS<br/><small>$232,450</small></h4>
                                                    </div>
                                                </div>
                                                <div class="chart-responsive">
                                                    <canvas id="depositsLine" style="height: 35px;width: 100%"></canvas>
                                                </div>
                                            </div>
                                            <div id="chartjs-tooltip-deposits" class="chartjs-tooltip"></div>
                                        </div>
                                        <div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">
                                            <div class="well">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <div class="chart-responsive">
                                                            <canvas id="rebatesPie" style="height: 30px;width: 30px"></canvas>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mt0">REBATES<br/><small>$232,450</small></h4>
                                                    </div>
                                                </div>
                                                <div class="chart-responsive">
                                                    <canvas id="rebatesLine" style="height: 35px;width: 100%"></canvas>
                                                </div>
                                            </div>
                                            <div id="chartjs-tooltip-rebates" class="chartjs-tooltip"></div>
                                        </div>
                                        <div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">
                                            <div class="well">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <div class="chart-responsive">
                                                            <canvas id="creditsPie" style="height: 30px;width: 30px"></canvas>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="mt0">CREDITS<br/><small>$2,450</small></h4>
                                                    </div>
                                                </div>
                                                <div class="chart-responsive">
                                                    <canvas id="creditsLine" style="height: 35px;width: 100%"></canvas>
                                                </div>
                                                <div id="chartjs-tooltip-credits" class="chartjs-tooltip"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-lg-3 col-md-6 col-sm-12">
                                            <div class="well" id="ordersBarWell">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h4 class="mt0">ORDERS BY MONTHS<br/><small>Total in year 3.340 </small><div class="pull-right text-success h6">13% <i class="glyphicon glyphicon-arrow-up"></i></div></h4>
                                                    </div>
                                                </div>
                                                <div class="chart-responsive">
                                                    <canvas id="ordersBar" style="height: 35px;width: 100%"></canvas>
                                                </div>
                                                <div id="chartjs-tooltip-orders" class="chartjs-tooltip"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="module-block">
                                    <p class="pull-left lead text-uppercase">TRANSACTIONS</p>
                                    <div class="pull-right">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <div id="transactionsChartLegend"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-default btn-sm active">
                                                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Today
                                                    </label>
                                                    <label class="btn btn-default btn-sm">
                                                        <input type="radio" name="options" id="option2" autocomplete="off"> Monthly
                                                    </label>
                                                    <label class="btn btn-default btn-sm">
                                                        <input type="radio" name="options" id="option3" autocomplete="off"> Annual
                                                    </label>
                                                </div>

                                            </div>
                                        </form>
                                    </div>


                                    <div class="chart">
                                        <canvas id="transactionsChart" style="height: 235px;"></canvas>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="module-block">
                                    <p class="pull-left lead text-uppercase">Transactions HISTORY</p>
                                    <div class="clearfix hidden-lg hidden-md"></div>
                                    <div class="pull-right no_fl_in_mobile">
                                        <form class="form-inline only_mobile_adapt">
                                            <div class="form-group">
                                                <label for="exampleInputName2">Filter:</label>
                                                <select type="text" class="form-control" id="exampleInputName2">
                                                    <option>All</option>
                                                    <option>Not All</option>
                                                </select>
                                            </div>&nbsp;&nbsp;&nbsp;
                                            <br class="hidden-lg hidden-md"/>
                                            <br class="hidden-lg hidden-md"/>
                                            <div class="form-group">
                                                <label>Date range:</label>
                                                <br class="hidden-lg hidden-md hidden-sm"/>
                                                <div class="input-group date">
                                                    <div class="inner-addon left-addon">
                                                        <i class="glyphicon icon-calendar"></i>
                                                        <input type="text" class="form-control datepicker" size="8" />
                                                    </div>
                                                </div>&nbsp;-&nbsp;
                                                <div class="input-group date">
                                                    <div class="inner-addon left-addon">
                                                        <i class="glyphicon icon-calendar"></i>
                                                        <input type="text" class="form-control datepicker" size="8" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="width_700 no_mobile">
                                        <table class="table trans_history f">
                                            <thead>
                                            <tr>
                                                <td>No.</td>
                                                <td>Date Added</td>
                                                <td>Account</td>
                                                <td>Details</td>
                                                <td>Amount</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>22/03/2015</td>
                                                <td><span class="label label-success text-uppercase">DEPOSITE</span></td>
                                                <td>Excepteur sint occaecat cupidatat non proident</td>
                                                <td class="text-success">&nbsp;&nbsp;$ 6,000</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>22/03/2015</td>
                                                <td><span class="label label-info text-uppercase">REBATE</span></td>
                                                <td>Duis aute irure dolor in reprehenderit</td>
                                                <td>- $ 5,200</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>22/03/2015</td>
                                                <td><span class="label label-info text-uppercase">REBATE</span></td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                                <td>- $ 3,200</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>22/03/2015</td>
                                                <td><span class="label label-warning text-uppercase">Credit</span></td>
                                                <td>Sed ut perspiciatis unde omnis iste</td>
                                                <td>- $ 7,200</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </section>

                    </div>

                </div>
                <footer class="main-footer">
                    <div class="pull-right hidden-xs" style="color: #c1c0c0">
                        Powered by&nbsp;&nbsp;<img src="/img/tradedepot-logo-mini.png" style="max-height:18px;"/>
                    </div>
                    &copy; 2015 Promasidor, Inc. All rights reserved.
                </footer>

            </div>

        </div>
    </div>

</div>


<script data-main="/admin/js/view" src="/js/require.js" async></script>

</body>
</html>
