select, select.form-control {
    border-radius: 3px;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #ccc;
    padding: 6px 16px;
    box-shadow: none;
}
select:focus,
select.form-control:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.content input[type="text"],
.content select,
.content textarea {
    background-color: #fff!important;
}

.bg-info {
    background-color: #005ba4 !important;
}


.inner-addon {
    position: relative;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    z-index: 10;
}
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }




.panel-cart .panel-heading {
    background-color: #fff;
}
.panel-cart.panel-success .panel-body,
.panel-cart.panel-success .panel-heading {
    background-color: #669933;
    color:#fff;
}
.panel-cart .panel-heading .head {
    border-bottom:1px solid #f0f0f0;
    margin: 5px 0 0 0;
    padding-bottom:10px;
}
.panel-cart.panel-success .panel-heading .head {
    border-bottom:1px solid #fff;
}
.panel-cart .panel-body .summ {
    margin:5px 0 10px 0 ;
}
.panel-cart.panel-success .panel-body .summ small {
    color:#fff;
    opacity:0.6;
}

.block-icon {
    display: block;
    margin-top: 15px;
}
.block-icon-ico {
    width: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    font-size:16px;
}
.block-icon-content {
    display: inline-block;
}



.spinbox {
    display: inline-block;
    position: relative;
    max-width: 90px;
}
.spinbox.digits-3 {
    width: 60px;
}
.spinbox.disabled .spinbox-buttons {
    cursor: not-allowed;
}
.spinbox .spinbox-input {
    float: left;
    padding-bottom: 3px;
    /* Magic number */
    padding: 0px 25px 0px 7px;
}
.spinbox .spinbox-input::-ms-clear {
    display: none;
}
.spinbox .btn {
    position: relative;
    width: 20px;
    height: 13px;
    padding-top: 0;
    padding-right: 9px;
    padding-left: 9px;
}
.spinbox .btn.disabled {
    cursor: not-allowed;
}
.spinbox .spinbox-buttons {
    position: absolute;
    height: 28px;
    width: 20px;
    right: 2px;
}
.spinbox .spinbox-up {
    padding: 0 0 14px 1px;
    top: 2px;
}
.spinbox .spinbox-up .glyphicon-chevron-up {
    position: relative;
    top: 0px;
}
.spinbox .btn-group > .btn.spinbox-up {
    border-top-right-radius: 4px;
}
.spinbox .spinbox-down {
    padding: 0 0 8px 1px;
    top: 2px;
    height: 15px;
    border-bottom-left-radius: 4px;
}
.spinbox .spinbox-down .glyphicon-chevron-down {
    position: relative;
    left: -1px;
    top: 0px;
}
.spinbox input::-ms-clear {
    display: none;
}

.input-transparent {
    border: none;
    background: transparent;
    box-shadow: none;
    height: 100%;
    outline: 0;
}

hr {
    border-top: 1px solid #ccc;
}


.menu-sidebar {
    z-index: 50;
    width: 230px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #242f38;
}
.main-right-col {
    background-color: #f0f1f2;
    padding-left: 230px;
    overflow: hidden;
    display: table;
    width: 100%;
    z-index: 0;
}
.navbar-sidebar,
.top-menu {
    margin: 0;
    box-shadow: none;
    border: none;
}

.top-menu li > a {
    color: #999999;
}
.top-menu li > a .fa {
    font-size:16px;
}
.top-menu .sidebar-toggle {
    color: #484848;
    padding-left:30px;
    padding-right:30px;
}

.navbar-custom-menu {
    margin-right: 30px;
}

.sidebar-menu {
    margin: 25px 0 0 0;
}
.sidebar-menu li {
    margin-bottom: 10px;
}
.sidebar-menu li > a {
    padding: 4px 10px 4px 40px;
    color: #b8c2cb;
}
.sidebar-menu li > a .fa {
    padding-right: 10px;
}
.sidebar-menu .header {
    margin-top:30px;
    padding: 4px 25px;
    color: #4d5a64;
}
.sidebar-menu>li>a:focus,
.sidebar-menu>li>a:hover {
    text-decoration: none;
    background-color: #33424f;
}

.navbar-toggle .icon-bar {
    background-color: #484848;
}
.nav-header-logo {
    height: 61px;
    display: block;
    background-color: #fff;
    width: 100%;
    line-height:60px;
    text-align:center;
}

.main-menu {
    width:100%;
    float:left;
    margin: 25px 0 0 0;
    border: none;
    box-shadow: none;
}
.sidebar-btn {
    padding: 0 25px;
}


.main-header {
    border-bottom:1px solid #e0e0e0;
}


@media (max-width: 767px) {
    .top-menu li {
        padding-left: 15px;
    }
    .main-right-col {
        margin-left: 0;
        padding-left: 0;
    }
    .menu-sidebar {
        width: 100%;
        position: relative;
    }
}

.content {
    margin: 30px 0;
}

.content-header {
    background-color: #fff;
    min-height: 70px;
    border-bottom: 1px solid #e0e0e0;
}
.content-header h1 {
    color: #797979;
    font-size:28px;
}
.content-header.inverse h1 {
    color: #fff;
}
.content-header.inverse h1 small {
    color: #8fd3f6;
}
.content-header.inverse select {
    background-color: #fff;
}
.content-header .breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 25px 0;
    float: right;
}
.content-header .breadcrumb > li .fa {
    padding-right: 10px;
}
.content-header .breadcrumb > li .fa,
.content-header .breadcrumb > li {
    color: #434343;
}
.content-header.inverse .breadcrumb > li .fa,
.content-header.inverse .breadcrumb > li {
    color: #fff;
}
.content-header a {
    color: #999999;
}
.content-header.inverse a {
    color: #8fd3f6;
}
.content-header.inverse .btn,
.content-header.inverse .dropdown-menu a {
    color: inherit;
}


.main-footer {
    padding: 0 30px;
    line-height:30px;
    background: #fff;
    min-height:30px;
    border-top: 1px solid #e0e0e0;
}




.box.panel {
    border: none;
    border-radius:0;
    margin-bottom: 25px;
}
.box.panel.panel-default {
    border-top: 2px solid #b8c2cb;
}
.box.panel.panel-default .panel-heading {
    border-bottom: 1px solid #e8ebed;
}
.box.panel .panel-heading {
    position:relative;
    background-color: transparent;
    padding: 6px 15px;
}
.box.panel .panel-heading a {
    color: #999999;
}
.box.panel .panel-body {
    padding: 5px 15px;
}
.box.panel .panel-body.no-padding {
    padding: 5px 0;
}
.box.panel .panel-body .panel-body-num {
    font-size:36px;
    font-weight:100;
}
.box.panel .panel-body .panel-body-num-stat {
    font-size: 16px;
    margin-bottom: 8px;
}
.box.panel .panel-body .nav-pills > li > a {
    color: #999999;
}
.box.panel .panel-body .nav-pills > li {
    border-bottom: 1px solid #e8ebed;
}
.box.panel .panel-body .nav-pills > li:last-child {
    border-bottom: none;
}